* {
  margin: 0px;
}
.card_container {
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card_second {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.4rem;
}
.card_second > p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  height: 5rem;
}
.card_btn {
  display: flex;
  padding: 0.3rem;
  justify-content: space-between;
}
.card_btn > button {
  background-color: #4a4a4a;
  color: white;
  padding: 0.4rem 0.7rem;
  border-radius: 0.3rem;
}
